$warning: #F17228;
$warning-20: rgba(241, 114, 40, 0.2);
$primary: #FFB30E;
$gray900: #212121;
$gray800: #424242;
$white: #ffffff;
$ybutton: #ff8a00;
$gray600: #757575;
$gray500:#9e9e9e;
$gray200: #EEEEEE;
$gray100: #F5F5F5;
$active-20: rgba(121, 185, 60, 0.2);
$active: #79B93C;
$bgcolor: #FEFAF1;